// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$theme-colors: (
  "primary": #f6993f,
  "dark": #343a40,
  "light": #ffffff,
  "success": #39fc39,
  "danger": #f83333,
  "warning": #faf039,
  "secondary": #cccbcb,
);
